.content {
  background-color: #fff;
  padding: 10px;
  display: flex;
  flex-direction: column;
}
.content table {
  border: none;
  width: fit-content;
  padding-bottom: 30px;
  margin: 20px;
  line-height: 20px;
  font-size: 16px;
}

.content tr {
  /* border: 1px solid palevioletred; */
}
.content th {
  padding: 10px 10px 10px 0px;
  line-height: 20px;
}

.content th .check {
  font-size: 32px;
  color: rgb(43, 163, 43);
}

.content th .none {
  font-size: 32px;
  color: rgb(210, 31, 31);
}

.content td {
  /* border: 1px solid palevioletred; */
  width: 80%;
  padding: 10px 0px 10px 10px;
  color: rgb(73, 73, 73);
}

.content td > span {
  color: rgb(73, 73, 73);
  font-size: 20px;
  font-weight: 600;
}
