.content {
  background-color: #fff;
  padding: 1rem 2rem;
  display: flex;
  flex-direction: column;
}
.content .label {
  display: flex;
  width: fit-content;
  min-height: 3.5rem;
  align-items: center;
  line-height: 20px;
  font-size: 0.875rem;
}

.content .label .check {
  font-size: 2rem;
  color: rgb(43, 163, 43);
  margin-right: 1rem;
}

.content .label .none {
  font-size: 2rem;
  color: rgb(210, 31, 31);
  margin-right: 1rem;
  width: 2rem;
}

.content .label span {
  color: rgb(73, 73, 73);
  font-size: 0.875rem;
}
.content .label span strong {
  color: rgb(73, 73, 73);
  font-size: 1rem;
  font-weight: 700;
}

.content .label div {
  margin-right: 3rem;
}
