.wrapper {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  max-width: 500px;
  max-height: fit-content;
  background-color: #fff;
  box-shadow: 0 4px 20px 2px rgba(0, 0, 0, 0.4);
  display: flex;
  justify-content: center;
  align-items: start;
  flex-direction: column;
}
.close {
  margin: 20px 25px 10px auto;
}
.close button {
  border: none;
  background-color: transparent;
  cursor: pointer;
  font-size: 16px;
}
.form {
  margin: 10px 25px;
}
.form table {
  border: 1px solid rgb(193, 193, 193);
  font-size: 14px;
  width: 450px;
}
.form tr,
.form td,
.form th {
  border: 1px solid rgb(193, 193, 193);
  padding: 10px 15px;
  text-align: left;
}
.form th {
  background-color: rgb(235, 235, 235);
}
.form td {
  width: 60%;
}
.notice {
  margin: 0px 25px;
}

.notice p {
  font-size: 12px;
  color: rgb(175, 175, 175);
  text-align: left;
}
.button {
  margin: 10px 25px 20px auto;
}
.button button {
  padding: 10px;
  border: 1px solid rgb(211, 211, 211);
  border-radius: 5px;
  margin-left: 10px;
  background-color: #fff;
}
button[type="submit"] {
  background-color: rgb(35, 182, 121);
  color: #fff;
}

.mode {
  padding: 5px;
  border-radius: 5px;
  border: 1px solid rgb(193, 193, 193);
}

.email {
  padding: 5px 10px;
  border-radius: 5px;
  border: 1px solid rgb(193, 193, 193);
  width: 90%;
}
