img {
  max-width: 100%;
  height: auto;
}
*,
*::after,
*::before {
  box-sizing: border-box;
}

.header {
  display: flex;
  flex-direction: column;
  background-color: rgba(4, 88, 148, 1);
  background-image: url(https://d5j80r6ig58b5.cloudfront.net/img/44/s00044-1b58da6d-1d43-4d04-aef5-649711950c94);
  background-position: right;
  background-repeat: no-repeat;
  background-size: contain;
  padding: 30px;
  color: white;
}

.header > div {
  margin: 10px 0;
}

.header .title,
.live-chat-title,
.rwd-plan-title {
  font-size: 20px;
  font-weight: bolder;
}
.rwd-plan {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  row-gap: 12px;
}

.rwd-plan .fa-robot,
.month .fa-robot {
  color: yellow;
  margin-right: 0.5rem;
}

.month span,
.rwd-plan span {
  margin: 0 10px;
}

.month input[type="radio"],
.rwd-plan input[type="radio"] {
  opacity: 0;
  position: fixed;
  width: 0;
}

.month input[type="radio"] + label,
.rwd-plan input[type="radio"] + label {
  cursor: pointer;
}

.month input[type="radio"]:checked + label,
.rwd-plan input[type="radio"]:checked + label {
  color: yellow;
}

.live-chat-switch input[type="checkbox"] {
  opacity: 0;
  position: fixed;
  width: 0;
}

.live-chat-switch input[type="checkbox"] + label {
  width: 40px;
  height: 25px;
  background-color: rgba(0, 0, 0, 0.65);
  border-radius: 100px;
  display: block;
  position: relative;
  cursor: pointer;
}

.live-chat-switch input[type="checkbox"] + label::after {
  content: "";
  position: absolute;
  top: 2px;
  left: 2px;
  width: 21px;
  height: 21px;
  background-color: #fff;
  border-radius: 50%;
  transition: 0.3s;
}

.live-chat-switch input[type="checkbox"]:checked + label {
  background-color: rgb(242, 211, 10);
}

.live-chat-switch input[type="checkbox"]:checked + label::after {
  left: calc(100% - 2px);
  transform: translateX(-100%);
}

@media (max-width: 767px) {
  .header {
    background-image: url(https://d5j80r6ig58b5.cloudfront.net/img/44/s00044-351e09ab-722c-43e4-835f-0e9e3c1bd66c);
    padding-top: calc(55vw + 100px);
    background-position: top;
  }
}

.container {
  display: flex;
  justify-content: center;
  padding: 50px;
  background-color: rgb(239, 239, 239);
}

@media (max-width: 767px) {
  .container {
    flex-direction: column;
    align-items: center;
  }
}
